.navbar-brand{
    font-family: 'Bhavuka', sans-serif;
    font-size: 2rem;
    color: white;
}


.navbar-brand img{
    min-height: 3rem;
}
.navbar .nav-item{
    padding: 10px;
}

.navbar .nav-item a{
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

.navbar .nav-item a:hover{
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;

}


.home-content{
    height: 100%;
}


.temp-img{
    height: 100%;
    width: auto;
    position: relative;
    text-align: center;

}



.temp-img h2{

    height: 100px;
    text-align: center;
    list-style-type:none;
    position: absolute;
    top: 40%;
    left: 50%;
    line-height: 1.5;
    transform: translate(-50%, -50%);

    display: inline-block;
    vertical-align: middle;
    font-size: 2vw;

    font-family: 'Roboto', sans-serif;color: yellow;
    -webkit-text-stroke: 0.8px black;
    margin: 15px;
    padding: 15px;



}

.img-container{

    width: 100%;
    margin-left: 0;
}
.img-container .first-two-img{
    display: flex;


}
.img-bg1{
    width: 50%;
    max-height: 50vh;
    filter: saturate(30%) blur(3px);
}
.img-bg2{
    width: 50%;
    max-height: 50vh;
    filter: saturate(30%) blur(3px);
}
.img-container .last-two-img{
    display: flex;
}

.img-bg3{
    width: 50%;
    max-height: 50vh;
    filter: saturate(30%) blur(3px);
}
.img-bg4{
    width: 50%;
    max-height: 50vh;
    filter: saturate(30%) blur(3px);
}


#beneficios{
    font-family: 'Roboto', sans-serif;
}
.benef{
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 100px;
}

.C-subt{
    padding-top: 4vh ;
    padding-bottom: 3vh;
    height: 200px;


}

.card{
    display: inline-block;
    border-style: none;
    margin-bottom: 3vh;


}

.card img{
    width: 5vw;
    min-width: 80px;
}

.F-ben{
    background-color: #e6dee7;
}
.F-ben h3{
    color: black;
}

.F-ben .card{
    display: inline-block;
    border-style: none;
    margin-bottom: 3vh;
    background-color: #d8bfd8;
    color: black;

}

.F-ben .card img{
    filter: invert(100%) sepia(96%) saturate(16%) hue-rotate(257deg) brightness(106%) contrast(104%);
    min-width: 80px;
}

.F-ben .C-subt{
    padding-top: 4vh ;
    padding-bottom: 3vh;
    height: 200px;

}

.opin{
    padding:7vh;
}
#opiniones p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
}

#opiniones img{
    width: 8vw;
    min-width: 80px;
    height: auto;
}



#descarga{
    background: #e6dee7;

}

#descarga iframe{
    height: 50vh;
    width: 30vw;

}
.about-p{
    min-width: 300px;
    height: auto;
    min-height: 300px;
}

#descarga .cell-img img{

    min-width: 300px;

    height: auto;
}

#descarga h4{
    padding-bottom: 2vh;
    padding-top: 2vh;
    font-family: 'Roboto', sans-serif;
}

#soporte .formularios{
    display: flex;
}

.f-first{
    width: 20vw;
    margin: 50px;
}
.f-sec{
    width: 60vw;
    margin: 50px;

}
.f-sec button {
    margin-top: 35px;

}
#soporte{
    font-family: 'Roboto', sans-serif;
}
#soporte h2{
    padding:30px;
}

#soporte h3{
    padding: 30px;
}

#footer-f {
    color: #9acd32;
}